:root{
  --mainBrown:#2d1e1f;
  --mainYellow: rgb(255, 157, 10);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark : #222;
  --primaryColor: #906C4D;
}


body {
 
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Courier New', Courier, monospace;
 letter-spacing: 0.25rem!important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 2rem;
}

/* .brown-text {
  color: var(--primaryColor)!important;
} */


.pasta {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(rgba(255, 158, 9, 0.5),rgba(255, 157, 10)); */
  background-position: center;
  background-size: cover;
}

.btn-about {
  color: var(--primaryColor);
  border-color: var(--primaryColor);


}

.btn-about:hover{
  background: var(--primaryColor);
  color: var(--mainBrown);
}

.footer {
  background: var(--mainBrown);
}